:root {
    --bs-primary: white;
    --bs-primary-rgb: 255, 255, 255;
    --bs-secondary: #ffe6ac;
    --bs-secondary-RGB: 255, 230, 172;
    --bs-dark: rgb(0, 0, 0);
}

.card {
    border: black;
}


body {
    font-family: 'Outfit', sans-serif;
}

/******MObile Styles******/
@media screen and (max-width: 991px) {

    .skip-link {
        position: absolute;
        left: 3rem;
        color: black;
        padding: 1rem;
        opacity: 0%;
    }


    /* HOME */

    .head {
        background-image: url(../images/header\ bg\ image.png);
        background-size: cover;
        background-position: center;
        padding: 100px 0;
        width: 100%;
        height: 700px;
    }

    .head {
        text-align: center;
        padding-top: 15rem;
    }

    .deiworks

    /*, .collabh1*/
        {
        text-align: center;
    }

    .deiworks p {
        padding-bottom: 5rem;
        text-align: center;
    }

    .intro {
        padding-top: 5rem;
        padding-bottom: 1rem;
    }

    .collab {
        text-align: center;
    }

    .collab p {
        padding-bottom: 7rem;
        text-align: center;
    }

    /* Slide-in animation */
    @keyframes slideIn {
        from {
            transform: translateX(-100%);
            opacity: 0;
        }

        to {
            transform: translateX(0);
            opacity: 1;
        }
    }

    .slide-in {
        display: inline-block;
        animation: slideIn 3.5s ease-out;
    }



    /* ABOUT */

    .abouthead {
        background-image: url(../images/header\ bg\ image.png);
        background-size: cover;
        background-position: center;
        padding: 100px 0;
        width: 100%;
        height: 700px;
    }

    .abouthead {
        text-align: center;
        padding-top: 15rem;
    }

    /* Slide-down animation */
    @keyframes slideDown {
        from {
            transform: translateY(-100%);
            opacity: 0;
        }

        to {
            transform: translateY(0);
            opacity: 1;
        }
    }

    .slide-down {
        animation: slideDown 3.5s ease-out;
    }

    /* PROJECTS */

    .project-item {
        display: flex;
        flex-direction: column;
        border: 1px solid #222;
        border-radius: 8px;
        padding: 1rem;
        margin: 11px;
    }

    .project-img {
        display: flex;
        flex-direction: column;
        border: 1px solid #222;
        border-radius: 5px;
        margin: 11px;
    }

    .btn {
        background-color: white;
        border: 1px solid black;
        color: black;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        border-radius: 50px;
        width: 30%;
    }

    /* Button click effects */
    .btn-click {
        transition: transform 0.1s ease, box-shadow 0.1s ease;
    }

    .btn-click:active {
        transform: translateY(1rem);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    }

    .btn:active {
        transform: translateY(1rem);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    }
    
    .btn:hover {
        background-color: lightgrey;
    }

    .description {
        padding-bottom: 3rem;
    }

    /* Slide-down animation */
    @keyframes slideDown {
        from {
            transform: translateY(-100%);
            opacity: 0;
        }

        to {
            transform: translateY(0);
            opacity: 1;
        }
    }

    .slide-down {
        animation: slideDown 3.5s ease-out;
    }

    /* CONTACT */

    /* Keyframes for fade-right animation */
    @keyframes fadeRight {
        from {
            opacity: 0;
            transform: translateX(-20px);
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    /* Keyframes for fade-left animation */
    @keyframes fadeLeft {
        from {
            opacity: 0;
            transform: translateX(20px);
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    /* fade-right animation */
    .fade-right {
        animation: fadeRight 3s ease-out;
    }

    /* fade-left animation */
    .fade-left {
        animation: fadeLeft 3s ease-out;
    }


}





















/******Desktop Styles******/
@media screen and (min-width: 991px) {

    .skip-link {
        position: absolute;
        left: 3rem;
        color: black;
        padding: 1rem;
        opacity: 0%;
    }

    /* Hover Effect */

    .nav-link {
        transition: color 0.3s ease, border-bottom 0.3s ease;
    }

    .nav-link:hover {
        color: white;
        border-bottom: 2px solid white;
    }


    /* HOME */

    .head {
        background-image: url(../images/header\ bg\ image.png);
        background-size: cover;
        background-position: center;
        padding: 100px 0;
        width: 100%;
        height: 700px;
        padding-top: 10rem;
    }

    .intro {
        padding-top: 8rem;
    }

    .welcome h1 {
        padding-bottom: 2rem;
    }

    .welcome p {
        padding-bottom: 5rem;
    }

    /* Slide-in animation */
    @keyframes slideIn {
        from {
            transform: translateX(-100%);
            opacity: 0;
        }

        to {
            transform: translateX(0);
            opacity: 1;
        }
    }

    .slide-in {
        display: inline-block;
        animation: slideIn 3.5s ease-out;
    }




    /* PROJECTS */

    .project-item {
        display: flex;
        flex-direction: column;
        border: 1px solid #222;
        border-radius: 8px;
        padding: 1rem;
        margin: 11px;
    }

    .project-img {
        display: flex;
        flex-direction: column;
        border: 1px solid #222;
        border-radius: 5px;
        margin: 11px;
    }

    .title,
    .description {
        text-align: left;
    }

    .btn {
        background-color: white;
        border: 1px solid black;
        color: black;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        border-radius: 50px;
        width: 30%;
    }

    /* Button click effects */
    .btn-click {
        transition: transform 0.5s ease, box-shadow 0.5s ease;
    }

    .btn-click:active {
        transform: translateY(1rem);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    }

    .btn:active {
        transform: translateY(1rem);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    }
    
    .btn:hover {
        background-color: lightgrey;
    }

    /* Slide-down animation */
    @keyframes slideDown {
        from {
            transform: translateY(-100%);
            opacity: 0;
        }

        to {
            transform: translateY(0);
            opacity: 1;
        }
    }

    .slide-down {
        animation: slideDown 3.5s ease-out;
    }


    /* ABOUT */

    .abouthead {
        background-image: url(../images/header\ bg\ image.png);
        background-size: cover;
        background-position: center;
        padding: 100px 0;
        width: 100%;
        height: 700px;
        padding-top: 10rem;
    }

    .aboutdei h1 {
        padding-bottom: 3rem;
    }

    .aboutdei ul li {
        padding-bottom: 2rem;
    }

    /* Slide-down animation */
    @keyframes slideDown {
        from {
            transform: translateY(-100%);
            opacity: 0;
        }

        to {
            transform: translateY(0);
            opacity: 1;
        }
    }

    .slide-down {
        animation: slideDown 3.5s ease-out;
    }




    /* CONTACT */

    iframe {
        padding-left: 2rem;
    }

    /* Button click effects */
    .btn-click {
        transition: transform 1s ease, box-shadow 3s ease;
    }

    .btn-click:active {
        transform: translateY(1rem);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    }

    .btn:active {
        transform: translateY(1rem);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    }
    
    .btn:hover {
        background-color: lightgrey;
    }

    /* Slide-down animation */
    @keyframes slideDown {
        from {
            transform: translateY(-100%);
            opacity: 0;
        }

        to {
            transform: translateY(0);
            opacity: 1;
        }
    }

    .slide-down {
        animation: slideDown 3.5s ease-out;
    }

    /* Keyframes for fade-right animation */
    @keyframes fadeRight {
        from {
            opacity: 0;
            transform: translateX(-20px);
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    /* Keyframes for fade-left animation */
    @keyframes fadeLeft {
        from {
            opacity: 0;
            transform: translateX(20px);
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    /* fade-right animation */
    .fade-right {
        animation: fadeRight 3s ease-out;
    }

    /* fade-left animation */
    .fade-left {
        animation: fadeLeft 3s ease-out;
    }



}