:root {
    --bs-primary: #c78c06;
    --bs-primary-rgb: 199, 140, 6;
    --bs-secondary: #ffe6ac;
    --bs-secondary-RGB: 255, 230, 172;
    --bs-dark: rgb(7, 7, 7);
}




.nav-link {
    color: var(--bs-primary)
}
